# .env

# OpenAi 的api key, 去 https://beta.openai.com/account/api-keys 中生成一个即可
OPENAI_API_KEY=''

# Kimi 的api key, 去 https://platform.moonshot.cn/console/api-keys
KIMI_API_KEY=''

# 科大讯飞, 去 https://console.xfyun.cn/services
XUNFEI_APP_ID='db6c4038'
XUNFEI_API_KEY='de309ff6a7b2796eda3c9031bb1cf2b5'
XUNFEI_API_SECRET='ZTVhMmNmYzc5ZDhjYjUxNWMzM2M0MTRl'

